<div class="grid grid-cols-12 bg-gray-900 text-white md:p-4">
    <div class="p-4 col-span-8 md:col-span-3">
        1 Alfred Place<br>
        London<br>
        WC1E 7EB<br>
        +44 (0)20 3318 3038<br>
        info@stylodesign.co.uk
    </div>
    <div class="p-4 col-span-4 md:col-span-3">
        <a href="#">Pinterest</a><br>
        <a href="#">Twitter</a><br>
        <a href="#">Instagram</a><br>
        <a href="#">Behance</a>
    </div>
    <div class="p-4 md:col-span-3 hidden md:block">logo</div>
    <div class="p-4 col-span-full md:col-span-3 md:text-right">© Stylo Design</div>
</div>