<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} :: {{ config:app:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">

    </head>
    <body id="client">

        {{ template_content }}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
