<script>
    slideAnchors.push('section' + {{ index }})
</script>
<style>
    {{ slides }}
    #slide-section{{ section:index }} .slide{{ index }} {
        /* variables per slide */
        --slide{{ index }}-type-color: {{ type_color }};
        --slide{{ index }}-type-hover-color: {{ hover_color }};
        --slide{{ index }}-bg-color: {{ background_color }};
        --slide{{ index }}-bg-image: url('{{ image }}');
    }

    #slide-section{{ section:index }} .fp-slidesContainer .slide{{ index }} {
        background-image: var(--slide{{ index }}-bg-image);
        color: var(--slide{{ index }}-type-color);
    }

    #slide-section{{ section:index }} h2.slide{{ index }} {
        color: var(--slide{{ index }}-type-color);
    }

    #slide-section{{ section:index }} .slide{{ index }} a {
        color: var(--slide{{ index }}-type-color);
    }

    #slide-section{{ section:index }} .slide{{ index }} a:hover {
        color: var(--slide{{ index }}-type-hover-color);
    }

    #slide-section{{ section:index }} .fp-slidesNav ul li a span.slide{{ index }} {
        background: var(--slide{{ index }}-bg-color);
    }

    #slide-section{{ section:index }} .fp-controlArrow.fp-next.slide{{ index }} {
        border-color: transparent transparent transparent var(--slide{{ index }}-type-color);
    }

    #slide-section{{ section:index }} .fp-controlArrow.fp-prev.slide{{ index }} {
        border-color: transparent var(--slide{{ index }}-type-color) transparent transparent;
    }
    {{ /slides }}
</style>
<div class="section" id="slide-section{{ section:index }}">
    <div class="layer">
        <h2>{{ title }}</h2>
    </div>
    {{ slides }}
        <div class="slide slide{{ index }}" data-anchor="slide{{ index }}">
            {{ type_color }}
            {{ if video != "" }}
                {{ if video | is_embeddable }}
                    <!-- Youtube and Vimeo -->
                    <iframe src="{{ video | embed_url }}"></iframe>
                {{ else }}
                    <!-- Other HTML5 video types -->
                    <video src="{{ video | embed_url }}"></video>
                {{ /if }}
            {{ /if }}
        </div>
    {{ /slides }}
</div>
