<style>
    {{ slides }}
        :root {
            /* css variables per slide */
            --section-{{ section:slug }}-slide{{ index }}-type-color: {{ type_color }};
            --section-{{ section:slug }}-slide{{ index }}-bg-color: {{ background_color }};
            {{ if slide_type == "image" }}
                --section-{{ section:slug }}-slide{{ index }}-bg-image: url('{{ image }}');
                {{ if image:focus_css != "" }}
                    --section-{{ section:slug }}-slide{{ index }}-bg-position: {{ image:focus_css }};
                {{ /if }}
            {{ /if }}
        }

        header.slide-{{ section:slug }}-slide{{ index }} {
            color: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }
        header.slide-{{ section:slug }}-slide{{ index }} a {
            color: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }
        header.slide-{{ section:slug }}-slide{{ index }} .logo svg {
            fill: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }
        header.slide-{{ section:slug }}-slide{{ index }} .nav-button div{
            background-color: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }
        header.slide-{{ section:slug }}-slide{{ index }}.active .navigation {
            background: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }
        header.slide-{{ section:slug }}-slide{{ index }}.active a {
            color: var(--section-{{ section:slug }}-slide{{ index }}-bg-color);
        }
        header.slide-{{ section:slug }}-slide{{ index }}.active .logo svg {
            fill: var(--section-{{ section:slug }}-slide{{ index }}-bg-color);
        }
        header.slide-{{ section:slug }}-slide{{ index }}.active .nav-button div{
            background-color: var(--section-{{ section:slug }}-slide{{ index }}-bg-color);
        }

        #slide-section-{{ section:slug }} .fp-slidesContainer .slide{{ index }} {
            {{ if slide_type == "color" }}
                background-color: var(--section-{{ section:slug }}-slide{{ index }}-bg-color);
            {{ /if }}
            {{ if slide_type == "image" }}
                background-image: var(--section-{{ section:slug }}-slide{{ index }}-bg-image);
                {{ if image:focus_css != "" }}
                    background-position: var(--section-{{ section:slug }}-slide{{ index }}-bg-position);
                {{ /if }}
            {{ /if }}
            color: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }

        #slide-section-{{ section:slug }} .fp-slidesContainer .slide{{ index }} h2 {
            color: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }

        #slide-section-{{ section:slug }} .slide{{ index }} a {
            color: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }

        #slide-section-{{ section:slug }} .fp-slidesNav ul li a span.slide{{ index }} {
            background: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }

        #slide-section-{{ section:slug }} .fp-controlArrow.fp-next.slide{{ index }} {
            border-color: transparent transparent transparent var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }

        #slide-section-{{ section:slug }} .fp-controlArrow.fp-prev.slide{{ index }} {
            border-color: transparent var(--section-{{ section:slug }}-slide{{ index }}-type-color) transparent transparent;
        }
        #slide-section-{{ section:slug }} .nextSection.down-arrow {
            border-top-color: var(--section-{{ section:slug }}-slide{{ index }}-type-color);
        }
    {{ /slides }}
</style>
