/* $spacing: 5%; */
/* $desktop-spacing: 5%; */
@font-face {
  font-family: "New Rail Alphabet Light";
  src: url("../fonts/NewRailAlphabet-LightWEB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NewRailAlphabet-LightWEB.eot?#iefix") format("embedded-opentype"), url("../fonts/NewRailAlphabet-LightWEB.woff2") format("woff2"), url("../fonts/NewRailAlphabet-LightWEB.woff") format("woff");
  /* Pretty Modern Browsers */
}
@font-face {
  font-family: "New Rail Alphabet Bold";
  src: url("../fonts/NewRailAlphabet-BoldWEB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NewRailAlphabet-BoldWEB.eot?#iefix") format("embedded-opentype"), url("../fonts/NewRailAlphabet-BoldWEB.woff2") format("woff2"), url("../fonts/NewRailAlphabet-BoldWEB.woff") format("woff");
  /* Pretty Modern Browsers */
}
/* System Fonts as used by GitHub */
body {
  font-family: "New Rail Alphabet Light", Arial, serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizelegibility;
  color: #000;
  background: #000;
}

body,
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
}

p {
  /* font-size: 1.5em; */
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #000;
  opacity: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
}
#loader.is-active {
  opacity: 1;
  pointer-events: all;
}

header {
  position: fixed;
  height: 0;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  padding: 0;
  color: #fff;
  /* Navigation */
}
header a {
  color: #000;
}
header a:hover {
  color: #c5c5c5;
}
header .logo {
  top: 9vw;
  left: 50%;
  position: absolute;
  z-index: 1;
}
header .logo svg {
  fill: #fff;
  width: 120px;
  height: auto;
  margin-left: -60px;
}
header .nav-button {
  z-index: 10;
  position: absolute;
  top: 9vw;
  left: 8vw;
  /* margin-top: -6px; */
  width: 50px;
  height: 20px;
}
header .nav-button a {
  display: block;
  position: relative;
  height: 100%;
}
header .nav-button div {
  position: absolute;
  height: 4px;
  background-color: #fff;
}
header .nav-button .nav-button-topline {
  width: 100%;
  top: 0;
}
header .nav-button .nav-button-bottomline {
  bottom: 0;
  width: 50%;
}
header .navigation {
  display: none;
  position: absolute;
  top: 0;
  padding-top: 100px;
  width: 100vw;
  background: #ff3a3b;
  z-index: 0;
}
header .navigation ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding-left: 8vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
header .navigation ul li {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: normal;
}
header.active .logo svg {
  fill: #000;
}
header.active .nav-button div {
  background-color: #000;
}

/* Centered texts in each section
	* --------------------------------------- */
.section {
  text-align: center;
  overflow: hidden;
}

.section,
.section .fp-slidesContainer .slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fp-slides.transformed {
  transform: translate3d(-100%, 0, 0);
}

.fp-controlArrow {
  display: none;
}

.fp-controlArrow.fp-prev {
  left: 8vw;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 17px solid white;
  border-bottom: 10px solid transparent;
}

.fp-controlArrow.fp-next {
  right: 8vw;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 17px solid white;
  border-bottom: 10px solid transparent;
}

.fp-tableCell {
  position: relative;
}
.fp-tableCell .slide-credit {
  display: none;
  position: absolute;
  top: 9vw;
  right: 8vw;
  opacity: 0.5;
}
.fp-tableCell .slide-content {
  width: 84vw;
  margin: 0 auto;
  font-size: 2rem;
}
.fp-tableCell .slide-content a {
  opacity: 0.5;
  text-decoration: underline;
}
.fp-tableCell .slide-content h1 a,
.fp-tableCell .slide-content h2 a {
  opacity: 1;
  text-decoration: none;
}
.fp-tableCell .slide-title {
  position: absolute;
  bottom: 3.5vw;
  left: 8vw;
}

video {
  position: absolute;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fp-slidesNav {
  left: auto !important;
  right: 8vw;
}

.fp-slidesNav.fp-bottom {
  bottom: 3.5vw;
}

#fp-nav ul li, .fp-slidesNav ul li {
  margin-bottom: 0;
  margin-top: 0;
}

.fp-controlArrow:hover {
  opacity: 0.5;
}

/* .fp-controlArrow{
	width: 50%;
	height: 100%;
	top: 0;
}
.fp-controlArrow.fp-next {
	border: 0;
}

.fp-controlArrow.fp-prev {
	width: 50%;
	border: 0;
} */
/* .fp-tableCell {
			position: relative;
			overflow: hidden;
		} */
/* #loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000;
} */
.nextSection {
  position: absolute;
  bottom: 3.5vw;
  right: 8vw;
  margin-left: -10px;
  z-index: 5;
  width: 20px;
}
.nextSection .down-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 17px solid white;
  bottom: 30px;
  left: 0;
  position: absolute;
}

.nextSection:hover {
  cursor: pointer;
}

.nextSection img {
  height: auto;
  width: 20px;
}

/* css-arrows */
.up-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 17px solid white;
}

footer {
  /* justify-content: space-between; */
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10vw;
  margin-bottom: 7vw;
  color: #fff;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: $spacing; */
  row-gap: 9vw;
  -moz-column-gap: 8vw;
       column-gap: 8vw;
}
footer .up-arrow {
  position: absolute;
  right: 8vw;
  bottom: 7vw;
}
footer p {
  line-height: 1.4em;
}
footer > div {
  /* width: 25%; */
}
footer > div:last-child {
  text-align: left;
  /* position: relative; */
}
footer > div:last-child p {
  line-height: 0.5em;
}
footer address {
  font-style: normal;
}
footer .footer-logo {
  display: none;
}
footer .footer-logo svg {
  fill: #fff;
  max-width: 224px;
  height: auto;
}

@media only screen and (min-width: 600px) {
  h1, h2, h3 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.23em;
  }

  header .nav-button {
    top: 3.5vw;
    left: 3.5vw;
  }
  header .logo {
    top: 3.5vw;
  }
  header .logo svg {
    width: 128px;
    margin-left: -64px;
  }
  header .navigation {
    padding-top: 125px;
    width: 75vw;
  }
  header .navigation ul {
    padding-left: 3.5vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  header .navigation ul li {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .fp-tableCell .slide-credit {
    display: block;
    top: 3.5vw;
    right: 3.5vw;
  }
  .fp-tableCell .slide-title {
    left: 3.5vw;
    bottom: 2.5vw;
  }
  .fp-tableCell .slide-content {
    width: 70vw;
    font-size: 3.2rem;
  }

  .fp-controlArrow.fp-prev {
    left: 3.5vw;
  }

  .fp-controlArrow.fp-next {
    right: 3.5vw;
  }

  .fp-slidesNav {
    right: 3.5vw;
  }

  .fp-slidesNav.fp-bottom {
    bottom: 2.5vw;
  }

  .nextSection {
    bottom: 2.5vw;
    right: 3.5vw;
  }

  footer {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 2.5vw;
    margin-bottom: 2.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3.5vw;
    -moz-column-gap: 3.5vw;
         column-gap: 3.5vw;
  }
  footer .footer-logo {
    display: initial;
  }
  footer > div:last-child {
    text-align: right;
  }
  footer .up-arrow {
    right: 3.5vw;
    bottom: 2.5vw;
  }

  .fp-controlArrow {
    display: initial;
  }
}
