@font-face {
  font-family: "New Rail Alphabet Light";
  src: url("../fonts/NewRailAlphabet-LightWEB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NewRailAlphabet-LightWEB.eot?#iefix") format("embedded-opentype"), url("../fonts/NewRailAlphabet-LightWEB.woff2") format("woff2"), url("../fonts/NewRailAlphabet-LightWEB.woff") format("woff");
  /* Pretty Modern Browsers */
}
@font-face {
  font-family: "New Rail Alphabet Bold";
  src: url("../fonts/NewRailAlphabet-BoldWEB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NewRailAlphabet-BoldWEB.eot?#iefix") format("embedded-opentype"), url("../fonts/NewRailAlphabet-BoldWEB.woff2") format("woff2"), url("../fonts/NewRailAlphabet-BoldWEB.woff") format("woff");
  /* Pretty Modern Browsers */
}
/* System Fonts as used by GitHub */
body {
  font-family: "New Rail Alphabet Light", Arial, serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizelegibility;
  color: #000;
  background: #000;
}

body,
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  /*text-decoration: underline;*/
  color: #c5c5c5;
}

header {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  padding: 20px 0 0 0;
  color: #fff;
}
header a {
  color: #fff;
}
header a:hover {
  color: #c5c5c5;
}

/*Stylo Logo*/
.logo svg {
  fill: #fff;
  width: 5rem;
  height: auto;
}

/* Navigation */
/* .nav-logo svg {
  fill: #fff;
  width: 5rem;
  height: auto;
}
 */
/* Centered texts in each section
	* --------------------------------------- */
.section {
  text-align: center;
  overflow: hidden;
}

.section,
.section .fp-slidesContainer .slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fp-slides.transformed {
  transform: translate3d(-100%, 0, 0);
}

.fp-tableCell {
  position: relative;
}
.fp-tableCell .slide-credit {
  position: absolute;
  top: 10%;
  right: 5%;
  opacity: 50%;
}
.fp-tableCell .slide-content {
  width: 70vw;
  margin: 0 auto;
  font-size: 2em;
}
.fp-tableCell .slide-content a {
  opacity: 0.5;
  text-decoration: underline;
}
.fp-tableCell .slide-content h1 a, .fp-tableCell .slide-content h2 a {
  opacity: 1;
  text-decoration: none;
}
.fp-tableCell .slide-title {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

video {
  position: absolute;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fp-slidesNav {
  left: auto !important;
  right: 5%;
}

/* .fp-controlArrow{
	width: 50%;
	height: 100%;
	top: 0;
}
.fp-controlArrow.fp-next {
	border: 0;
}

.fp-controlArrow.fp-prev {
	width: 50%;
	border: 0;
} */
/* .fp-tableCell {
			position: relative;
			overflow: hidden;
		} */
/* #loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000;
} */
/* #timer {
	height: 5px;
	width: 0px;
	position: fixed;
	bottom: 0;
	background-color: #fff;
	z-index: 9999;
	left: 50%;
	transform: translateX(-50%);
}
#timer.transition {
	width: 100%;
	-webkit-transition: width 4s;
    transition: width 4s;
} */
.nextSection {
  position: absolute;
  bottom: 5%;
  right: 5%;
  margin-left: -10px;
  z-index: 5;
  width: 20px;
}

.nextSection:hover {
  cursor: pointer;
}

.nextSection img {
  height: auto;
  width: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  color: #fff;
  text-align: left;
}
footer address {
  font-style: normal;
}
