<style>
    body {
        background-color: {{ background_color }};
        color: {{ text_color }};
    }
    a {
        color: {{ text_color }};
    }
    a:hover {
        color: {{ text_color }};
    }
    header {
        color: {{ text_color }};
        background-color: {{ background_color }};
    }
    header a {
        color: {{ text_color }};
    }

    header .logo svg {
        fill: {{ text_color }};
    }
    header .nav-button div{
        background-color: {{ text_color }};
    }
    header.active .navigation {
        background: {{ text_color }};
    }
    header.active a {
        color: {{ background_color }};
    }
    header.active .logo svg {
        fill: {{ background_color }};
    }
    header.active .nav-button div {
        background-color: {{ background_color }};
    }
    footer {
        color: {{ text_color }};
    }
    footer .footer-logo svg {
        fill: {{ text_color }};
    }
    #loader {
        background-color: {{ background_color }};
    }
</style>
{{ partial:partials/header }}
<main>
    <h1>{{ title }}</h1>
    <section>
        {{ replicator sort="date:desc" }}
            <article>
                <p>
                <a href="{{ url }}" target="_blank">
                {{ assets }}
                    <img src="{{ url }}" alt="{{ alt }}" />
                {{ /assets }}
                {{ title }} <br>
                {{ date format="d.m.y" }}
                </a>
                </p>
            </article>
        {{ /replicator }}
    </section>
</main>

{{ partial:partials/footer-client }}
