<style>
    body {
        background-color: {{ background_color }};
        color: {{ text_color }};
    }
    a {
        color: {{ text_color }};
    }
    a:hover {
        opacity: 50%;
        color: {{ text_color }};
    }
    header {
        top: 0;
        color: {{ text_color }};
    }
    header a {
        color: {{ text_color }};
    }

    header .logo svg {
        fill: {{ text_color }};
    }
    header .nav-button div{
        background-color: {{ text_color }};
    }
    header.active .navigation {
        background: {{ text_color }};
    }
    header.active a {
        color: {{ background_color }};
    }
    header.active .logo svg {
        fill: {{ background_color }};
    }
    header.active .nav-button div {
        background-color: {{ background_color }};
    }


    article img {
        width: 100%;
        height: auto;
    }
    article a { display: block; }
    article a:hover img {
        opacity: 50%;
    }

    main {
    padding-top: 10em;
            padding: 10em 5%;
  }
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em 1em;
  }
  @media (min-width: 600px) {
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
  #footer-outer {
    width: 100vw;
  }

  footer {
        color: {{ text_color }};
    }
    footer .footer-logo svg {
        fill: {{ text_color }}
    }
    #loader {

  background-color: {{ background_color }};
}
</style>
{{ partial:partials/header }}
<main>
    <h1>{{ title }}</h1>
    <section>
        {{ replicator }}
            <article>
                <a href="{{ url }}" target="_blank">
                {{ assets }}
                    <img src="{{ url }}" alt="{{ alt }}" />
                {{ /assets }}
                {{ title }} <br>
                {{ date format="d.m.y" }}
                </a>
            </article>
        {{ /replicator }}
    </section>
</main>

{{ partial:partials/footer-client }}
